<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="12" class="altura-logo">
        <v-img
          :src="require('../images/logo.png')"
          class="my-3"
          contain
          height="200"
        />
      </v-col>
      <v-col md="6" xs="12" sm="9">
        <v-autocomplete
          dense
          filled
          solo
          label="Digite o Produto, Serviço ou Negócio"
          prepend-inner-icon="mdi-magnify"
          append-icon=""
        ></v-autocomplete>
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col md="6" xs="12" sm="9" class="altura-localizacao">
        <v-autocomplete
          dense
          filled
          solo
          label="Insira sua Localização"
          prepend-inner-icon="mdi-map-marker"
        ></v-autocomplete>
      </v-col>
    </v-row>
    <!-- <v-row justify="center">
      <p>Selecione a sua Localização:</p>
    </v-row>
    <v-row justify="center">
      <v-chip class="ma-2">
        Marília
      </v-chip>
      <v-chip class="ma-2">
        Pompéia
      </v-chip>
    </v-row> -->
    <v-row justify="center">
      <v-col md="2" xs="6">
        <v-card>
          <v-card-text>
            <div>Oficina do Zé</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col md="2" xs="6">
        <v-card>
          <v-card-text>
            <div>Bar do Zé</div>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col md="2" xs="6">
        <v-card>
          <v-card-text >
            <div>Veterinária do Zé</div>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<style>
  .altura-logo {
  margin-top: 60px ;
  }
  .altura-localizacao {
  margin-top: -25px ;
  }
</style>

<script>

  export default {
    name: 'HelloWorld'
  }
</script>